 body {
    background-image: url("https://images.pexels.com/photos/1536467/pexels-photo-1536467.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
 nav {
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
 }
 nav img {
    width: 150px;
 }
 .nav-links {
    flex: 1;
    text-align: right;
 }
 .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
 }
 .nav-links ul li {
    color: white;
    text-decoration: none;
    font-size: 19px;
 }
 .nav-links ul li::after {
    content: '';
    width: 0%;
    height:2px;
    background: #6933f2;
    display: block;
    margin: auto;
    transition: 0.5s;
 }
 .nav-links ul li:hover::after {
    width: 100%;
 }
 .text-box{
    width: 90%;
    color: white;
    top: 50%;
    left: 50%;
    transition: translate(-50%,-50%);
    text-align: center;
 }
 .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
 }
 .hero-btn:hover{
    border: 1px solid rgb(108, 61, 236);
    background: rgb(97, 54, 238);
    transition: 1s;
 }
 .header ul li{
    text-align: center;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
 }
 .header ul li{
    color: white;
    text-decoration: none;
    font-size: 30px;
 }

.container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
   padding-bottom: 60px;
}
.container .content{
   text-align: center;
}
.container .content h3{
   font-size: 30px;
   color: white;
}
.container .content h3 span{
   background: red;
   color: white;
   border-radius: 5px;
   padding: 0 10px;
}
.container .content h1{
   font-size: 50px;
   color: white;
}
.container .content h1 span{
   color: #f44336;
}
.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}
.container.content .btn{
   display: inline-block;
   padding: 10px 30px;
   font-size: 20px;
   background: black;
   color: white;
   margin: 0 5px;
   text-transform: capitalize;
}
.container .content .btn:hover{
   background-color: rgb(105, 17, 246) ;
}
.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
   padding-bottom: 60px;
}
.form-container form{
   padding:20px;
   border-radius:5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   text-align: center;
   width: 500px;
}
.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color: white;
}
.form-container form input,
.form-container form slect{
   width: 100%;
   padding: 10px 15px;
   font-size: 17px;
   margin: 8px 0;
   background: white;
   border-radius: 5px;
}
.form-container form select option{
   background:white;
}
.form-container form .form-btn{
   background: #fbd0d9;
   color: #f44336;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}
.form-container form .form-btn:hover{
   background: #f44336;
   color: white;
}
.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color: white;
}
.form-container form p a{
   color:#f44336;
}
.popup{
   width: 400px;
   background: white;
   border-radius: 6px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%) ;
   text-align: center;
   padding: 0 30px 30px;
   color: #333;
   visibility: hidden;
   transition: transform 0.4s, top 0.4s;
}
.open-popup{
   visibility: visible;
   top: 50%;
   transform: translate(-50%,-50%) scale(1);
}
.popup img{
   width: 100px;
   margin-top: -50%;
   border-radius: 50%;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.popup h2{
   font-size: 38px;
   font-weight: 500;
   margin: 30px 0 10px;
}
.popup button{
   width: 100%;
   margin-top: 50%;
   padding: 10px 0;
   background: greenyellow;
   color: #100101;
   border: 0;
   outline: none;
   font-size: 18px;
   border-radius: 4px;
   cursor: pointer;
   box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}
